<!-- NOT FINAL -->

<html>
    <header>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>

        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

        <!-- For Arcs on the map -->
        <script src='https://unpkg.com/leaflet-arc/bin/leaflet-arc.min.js'></script>

        <link rel="stylesheet" href="../static/style.css"/>

    </header>

    <body>
        <div id="map"></div>

    </body>

        <!-- Must be included after map id -->
        <script src="../static/map.js"></script>

</html>